<%= provide :page_title, "Questions" %>
<% currently_at t("questions.index") %>

<div class="content">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl">Questions</h1>
    <%= link_to "New question", new_question_path, class: "btn-primary bg-gray-500" %>
  </div>

  <div  class="my-2">
    <%== pagy_nav @pagy %>
  </div>

  <%= render @questions %>
</div>
