<div class="auth">
  <div class="page-title mb-4">
    <%= provide :page_title, "Registration" %>
    <% currently_at "Sign Up" %>
    <h1 class="text-3xl">Registration</h1>
  </div>

  <div>
    <%= render 'form' %>
  </div>
</div>



