<% if object&.errors&.full_messages&.any?  %>
  <div class="alert-danger">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li class="text-red-800"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>